pillow==9.4.0
opencv-python
pyyaml
json_tricks
yacs
scikit-learn
pandas
timm==0.4.12
numpy==1.23.1
einops
fvcore
transformers
sentencepiece
ftfy
regex
nltk
mpi4py
vision-datasets==0.2.2
cython
pycocotools
diffdist
pyarrow
cityscapesscripts
shapely==1.8.0
scikit-image
mup
accelerate
kornia
deepspeed
wandb
infinibatch